# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

.DS_Store

# Webpack cache & build files
bundle.js
.bundle.js

# Build
/lib/

# NPM debug
npm-debug.log
npm-debug.log*
